@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

* , *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}


.container {
    position: relative;
    width: 100%;
}

.container .section {
    position: sticky;
    height: 100vh;
    top: 0;
   
}




.fade-enter {
    opacity: 0;
  }
  .fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in-out;
  }
  .fade-exit {
    opacity: 1;
  }
  .fade-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
  }
  

.slide-right-enter {
    transform: translateX(100%);
    opacity: 0;
  }
  .slide-right-enter-active {
    transform: translateX(0);
    opacity: 1;
    transition: transform 300ms ease, opacity 300ms ease;
  }
  .slide-right-exit {
    transform: translateX(0);
    opacity: 1;
  }
  .slide-right-exit-active {
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 300ms ease, opacity 300ms ease;
  }
  
  .slide-left-enter {
    transform: translateX(-100%);
    opacity: 0;
  }
  .slide-left-enter-active {
    transform: translateX(0);
    opacity: 1;
    transition: transform 300ms ease, opacity 300ms ease;
  }
  .slide-left-exit {
    transform: translateX(0);
    opacity: 1;
  }
  .slide-left-exit-active {
    transform: translateX(100%);
    opacity: 0;
    transition: transform 300ms ease, opacity 300ms ease;
  }
  



  .menu-button > span > svg , .menu-button > span {
    color: teal;
  }





