@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

#root {
    background: #FFFCF6;
}

.container {
    position: relative;
    width: 100%;
}

.container .section {
    position: sticky;
    top: 0;
   
}

.container .section:nth-child(1) {
    background: #FFFCF6;
}

.container .section:nth-child(2) {
    background: #F7F0E6;
}

.container .section:nth-child(3) {
    background: #FFFCF6;
}

.container .section:nth-child(4) {
    background: #F7F0E6;
}

.container .section:nth-child(5) {
    background: #FFFCF6;
}


